@font-face {
	font-family: 'bombing';
	src: url('Bombing.ttf');
}

h1 {
	font-size: 10em;
	margin: 0.4em;
	color: #4ca832;
}

.inputTitle {
	margin: 0.3em;
	font-size: 2.5em;
}

.button1 {
	background-color: #4CAF50; /* Green */
	border: none;
	border-radius: 8px;
	color: white;
	padding-right: 25px;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.inputField {
	width: 20%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
	border: 2px solid red;
	border-radius: 4px;
}

#content {
	font-family: bombing;
	text-align: center;
}